
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Section -->
<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 push-lg-4" align="center">
                <span class="icon icon-xl icon-success"><i class="ti ti-check-box"></i> </span>
                <h1 class="mb-2">
                    Siparişiniz için teşekkür ederiz!
                </h1>
                <span>Siparis No: </span>
             
                   
                        <span>@Session["cartNo"].ToString()</span>
             
                <h4 class="text-muted mb-5">30 dakika içinde alacaksınız.</h4>
                <a href="../Home/Index?qrhash=@Session["qrHash"]" class="btn btn-outline-secondary">@{ Session.Remove("cart"); 
                  }<span>Anasayfaya Geri Dön</span></a>
            </div>
        </div>
    </div>
</section>

