@model ibernsof_Restoran.Models.MusteriTalep

@{
    ViewBag.Title = "EkleMusteriIstekRecord";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>EkleMusteriIstekRecord</h2>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
